body {
  font-family: sans-serif;
}

header {
  align-content: center;
  background: #444444;
  padding: 10px;
}

#logo {
  height: 70px;
  margin: auto;
  vertical-align: middle;
  width: 200px;
}

nav {
  display: inline-block; 
  text-align: center;
  vertical-align: middle;
}

main {
  margin: 0 auto;
  width: 960px;
}

img {
  display: inline-block;
  margin-right: 30px;
}

footer {
  background: #444444;
  height: 100px;
  margin-top: 30px;
  width: 100%
}

section {
  display: block;
  margin-top: 30px;
  /* margin: 30px auto 0; */
  width: 960px;
}

header section {
  margin:  auto;
}

a {
  color:#969696;
  padding: 1em 2em;
  text-decoration: none;
}

div {
  display: inline-block;
  height: 400px;
  line-height: 1.5em;
  vertical-align: top;
  width: 445px;
}

#sec2 img {
  margin-right: 25px;
}

#sec2 :last-child {
  margin-right: 0;
}

h1 {
  font-size: 26px;
  margin-bottom: 1em;
}

p {
  font-style: italic;
  height: 302px;
  overflow: scroll;
}

button {
  background: black;
  color: white;
  font-size: 0.8em;
  margin-top: 0.8em;
  padding: 0.8em 2.5em;
}